<?taglib uri

=
"http://www.zkoss.org/dsp/web/core"
prefix

=
"c"
?>
<style type

=
"text /css"
>

body {
    padding: 0 0;
}

.GridPlain tr.z-row td.z-row-inner, .GridPlain tr.z-row .z-cell, div.z-grid.GridPlain, .GridPlain tr.z-grid-odd td.z-row-inner, .GridPlain tr.z-grid-odd .z-cell, .GridPlain tr.z-grid-odd, .GridPlain tr.z-row-over>td.z-row-inner {
    border: none;
    overflow: hidden;
    zoom: 1;
    background: white none repeat scroll 0 0;
    border-top: none;
    border-top-style: none;
    border-top-width: 0px;
    padding-top: 1px;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 1px;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-bottom-style: none;
    border-bottom-width: 0px;
}

.GridLayoutSmartBorderDashed tr.z-row td.z-row-inner, .GridLayoutSmartBorderDashed tr.z-row, div.z-grid-body.GridLayoutSmartBorderDashed, div.z-cell.GridLayoutSmartBorderDashed, div.z-grid.GridLayoutSmartBorderDashed {
    zoom: 1;
    overflow: hidden;
    background: white;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid;
    border-bottom-color: silver;
    border-bottom-style: dashed;
    padding: 1px;
}

.FDListBoxHeader1 {
    background-color: #E6B9CD;
}

.FDListBoxNoBorders {
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 1px;
}

tr.z-listitem, tr.z-row td.z-row-inner, tr.z-row td.z-group-inner, tr.z-row td.z-group-foot-inner, tr.z-row {
    background: #EEEEEE none repeat scroll 0 0;
}

tr.odd td.gc, tr.odd, tr.z-listbox-odd, tr.z-grid-odd td.z-row-inner, tr.z-grid-odd {
    background: #FFFFFF none repeat scroll 0 0;
}

tr.overd, td.overd, tr.z-listitem-over {
    background: #D3DBFC none repeat scroll 0 0;
}

tr.seld, td.seld, tr.z-listitem-seld {
    background: #B8BFDC none repeat scroll 0 0;
}

tr.overseld, td.overseld, tr.z-listitem-over-seld {
    background: #D3DBFC none repeat scroll 0 0;
}

div.z-listfooter {
    font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
}

.hboxRemoveWhiteStrips td.z-hbox-sep {
    width: 0;
    padding: 0;
}

.z-textbox-readonly, .z-textbox-text-disd {
    background: #ECEAE4;
}

.z-decimalbox-readonly, .z-decimalbox-text-disd {
    background: #ECEAE4;
}

.z-datebox {
    font: #000000;
}

tr.z-row td.z-row-inner {
    border-right: 0px #CCC;
}

.GridLayoutNoBorder tr.z-row td.z-row-inner, tr.z-row, div.z-grid-body div.z-cell, div.z-grid {
    border: none;
    zoom: 1;
    background: white;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    padding: 1px;
}

.z-groupbox-hl .z-groupbox-header {
    color: #000000;
    font-weight: bold;
}

.z-tabs-scroll {
    border: 0px;
}

.z-tabpanel, .z-tabbox-ver .z-tabpanels-ver {
    border-style: none;
}

.myPopup .z-popup .z-popup-cm {
    padding: 0px 0px;
}

.z-slider-sphere-hor, .z-slider-scale, .z-slider-hor, .z-slider-sphere-hor-center, .z-slider-scale-center, .z-slider-hor-center {
    background: transparent no-repeat 0 top;
    background-image: url(${c : encodeURL('~./zul/img/slider/slider-bg.png' )
}

.z-tabs-header {
    width: 100%;
}

<

/
style>